@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Pagina de Prueba de la Api de Cuvoo</h1>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Dispositivos</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: devices">
                    <li>
                        <strong><span data-bind="text: ID"></span></strong>: <span data-bind="text: Nombre"></span>
                        <small><a href="#" data-bind="click: $parent.getMedidasDispositivo">>Obtener medidas</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>

    <div class="col-md-4">
        <!-- TODO: Book details -->
    </div>   
</div>
 <!-- ko if:medidas() -->

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Medidas</h2>
            </div>
            <table class="table" >
                @*encabezados*@
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Dispositivo</th>
                        <th>Longitud</th>
                        <th>Latitud</th>
                        <th>Raw</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: medidas">
                    <tr>
                        <td data-bind="text: HoraMsg"></td>
                        <td data-bind="text: NombreDispositivo"></td>
                        <td data-bind="text: Longitud"></td>
                        <td data-bind="text: Latitud"></td>
                        <td data-bind="text: Hexadecimal"></td>
                    </tr>
                </tbody>

</table>
        </div>
    </div>
</div>

    <!-- /ko -->
