<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cuvootest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cuvootest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CuvooTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CuvooTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User ID=adresvi@jczu4ook7s;Password=Aceralia1!" Name="Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User Id=adresvi@jczu4ook7s;Password=Aceralia1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CuvooApi.Models.ApplicationDbContext, CuvooApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CuvooApiContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User ID=adresvi@jczu4ook7s;Password=Aceralia1!" Name="Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User Id=adresvi@jczu4ook7s;Password=Aceralia1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CuvooApi.Models.CuvooApiContext, CuvooApi" MigrationConfiguration="CuvooApi.Migrations.Configuration, CuvooApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User ID=adresvi@jczu4ook7s;Password=Aceralia1!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\CuvooApiContext-20150731184631.mdf;Initial Catalog=CuvooApiContext-20150731184631;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;attachdbfilename=|DataDirectory|\CuvooApiContext-20150731184631.mdf;initial catalog=CuvooApiContext-20150731184631;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CuvooApiContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User Id=adresvi@jczu4ook7s;Password=Aceralia1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jczu4ook7s.database.windows.net,1433;Initial Catalog=CuvooTest_db;User Id=adresvi@jczu4ook7s;Password=Aceralia1!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/ModelDB.csdl|res://*/ModelDB.ssdl|res://*/ModelDB.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:jczu4ook7s.database.windows.net,1433;initial catalog=CuvooTest_db;user id=adresvi@jczu4ook7s;password=Aceralia1!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>